@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "poppins";
}
.strokeYellow {
  -webkit-text-stroke: 0.7px goldenrod;
}
.etherealHeader {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: goldenrod;
  /*   letter-spacing: 1.7rem; */
}

.dirtGold {
  color: #946a00;
}
/* // Hide short text by default (resolution > 1200px) */
.full-text {
  display: none;
}
/* makes the menu fullscreen when on small screen devices */
@media (max-width: 900px) {
  .fullscreen {
    width: 100%;
  }
  /*   .short-button-text {
    display: block;
  }
  .full-button-text {
    display: none;
  } */
}
/* // When resolution <= 1200px, hide full text and show short text */
@media (min-width: 1280px) {
  .short-text {
    display: none;
  }
  .full-text {
    display: block;
  }
}
