@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "poppins";
}
.strokeYellow {
  -webkit-text-stroke: 0.7px goldenrod;
}
.etherealHeader {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: goldenrod;
  /*   letter-spacing: 1.7rem; */
}

/* // Hide short text by default (resolution > 1200px) */
.full-text {
  display: none;
}
/* makes the menu fullscreen when on small screen devices */
@media (max-width: 900px) {
  .fullscreen {
    width: 100%;
  }
  /*   .short-button-text {
    display: block;
  }
  .full-button-text {
    display: none;
  } */
}
/* // When resolution <= 1200px, hide full text and show short text */
@media (min-width: 1280px) {
  .short-text {
    display: none;
  }
  .full-text {
    display: block;
  }

  .nftxpo_logo {
    font-size: 12rem;
    line-height: 1;
  }
  /* About Section Grid layout */
  .gridcontainer {
    grid-template-columns: 1fr 0.6fr 1.4fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "nftxpo_logo nftxpo_logo aboutUs_container"
      "nftxpo_logo nftxpo_logo aboutUs_container"
      "icon_container icon_container icon_container";
  }

  .icon_container {
    grid-area: icon_container;
  }

  .nftxpo_logo_container {
    grid-area: nftxpo_logo;
  }

  .aboutUs_container {
    grid-area: aboutUs_container;
  }
  .iconBlock1 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .iconBlock2 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .ourProcess {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.headlineGradient {
  background-image: linear-gradient(180deg, gold, rgb(253, 181, 0));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_hover:hover {
  transform: scale(10rem);
}
